body{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica
}
.post-description-img{
	width: 100%;
	height: 100%;
}
.page-container{
	min-height: 100vh;
	
}
.content-container{
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 5px solid green;
}
.header-container{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.nav-container{
	display: flex;
	flex-direction: column;
	height: 75vh;
	background-image: url('../img/life.jpg');
	background-size: cover;             
    background-repeat: no-repeat;

}
.navbar-container{
	display: flex;
	flex-direction: row;
}
.nav-brand{
	display: flex;
	justify-content: center;
	height: 3rem;
	width: 40%;
	margin-top: 2rem;

}
.brand-logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding-left:25%;
	font-size: 1.5rem;
	color: white;
	font-weight: bold;

}
.navbar-items{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	height: 2rem;
	width: 60%;
	margin-top: 3rem;
}
.nav-item{
	display: flex;
	flex-direction: row;
	
	color: white;
	font-size: 1.25rem;
	font-weight: bold;
}
svg{
	width: 25px;
	height: 25px;
	fill: white;

}
svg:hover{
	width: 30px;
	height: 30px;
	
}

.nav-item:hover{
	font-size: 1.35rem;
	cursor: pointer;
}
.welcome-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

}
.welcome-message{
	font-size: 2.5rem;
	color: white;
	font-weight: bold;
}



.category-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1rem 0 1rem 0;
	height: 5rem;

}
.category-width{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 80%;
	
}
.category-button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.75rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	border: 2px solid lightgrey;
	font-size: 1rem;
	color: grey;
	box-shadow: 0 0 5px lightgrey;

}
.category-button:hover{
	background-color: blue;
	color: white;
	cursor: pointer;
	border: 2px solid blue;
	box-shadow: 0 0 7px blue;
}
.active-category{
	background-color: blue;
	color: white;
	border: 2px solid blue;
	box-shadow: 0 0 7px blue;
}


.content-rows-container{
	display: flex;
	flex-direction: row;
}
.content-append{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	width: 75%;

}
.card{
	display: flex;
	flex-direction: column;
	width: 20rem;
	margin: 2.5rem;
	border: 2px solid lightgrey;
	box-shadow: 0 0 10px lightgrey;
}
.card-image{
	width: 100%;
	height: 100%;
}
.img-hover{
	overflow: hidden;

}
.card-content-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 10%;
	margin-right: 10%;
}
.card-title{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	font-size: 1.75rem;
	font-weight: bold;
	margin-top: 0.5rem;

}
.card-title:hover{
	color: blue;
	cursor: pointer;

}
.card-image:hover{
	transform: scale(1.25);
	cursor: pointer;
}
.card-info{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}
.card-date{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 1rem;
	margin-top: 0.25rem;
	font-size: 0.75rem;
	font-weight: bold;
	color: grey;
}
.card-category{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 1rem;

}
.card-category-button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.75rem;
	border-radius: 1rem;
	border: 2px solid lightgrey;
	font-size: 0.75rem;
	color: grey;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
	box-shadow: 0 0 5px lightgrey;
}
.card-category-button:hover{
	background-color: blue;
	color: white;
	cursor: pointer;
}
.card-description-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}
.card-description{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	line-height: 1.5em;
	height: 4.5em;
	overflow: hidden;
}
p{
	margin: 0;
}
.row-3{
	width: 25%;
}
.recent-container{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin-top: 2.5rem;

}
.recent-title{
	display: flex;
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.recent-list-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	background-color: #f8f8ff;
}
.recent-post{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	padding-bottom: 1rem;
	padding-top: 1rem;
	border-bottom: 1px solid lightgrey;
}
.recent-post:hover{
	color: blue;
	cursor: pointer;
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
}
.recent-img{
	width: 40%;	
}
.recent-post-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 1.25rem;
	font-weight: bold;
	padding-left: 1rem;
	padding-right: 1rem;
}



.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5rem;
	min-height: 5rem;
	border-top: 1px solid lightgrey;

}
.footer-message{
	font-size: 0.75rem;
	color: grey;
}